on early-init
    # exec u:r:init:s0 root root -- /system/bin/sh /system/bin/init.cells.overlayfs.sh

on post-fs-data
    setprop ro.boot.vm 1
    exec u:r:init:s0 root root -- /system/bin/cellsinit

on load_persist_props_action
    exec u:r:init:s0 root root -- /system/bin/sh /system/bin/init.cells.init.sh
    # setprop persist.sys.exit 1
    setprop persist.logd.logpersistd logcatd
    # setprop system_init.startsensorservice 0
    setprop persist.sys.sdcardfs force_off
    setprop external_storage.sdcardfs.enabled 0

service cellsservice /system/bin/cellsservice
    class main
    user root
    group root
    seclabel u:r:init:s0

service cells_init /system/bin/init.cells.init.sh
    user root
    group root
    oneshot
    disabled
    seclabel  u:r:init:s0

on property:sys.powerctl=*
    exec u:r:init:s0 root root -- /system/bin/cellssync sys.powerctl

on property:sys.boot_completed=1
    exec u:r:init:s0 root root -- /system/bin/cellsready

on property:persist.security.root=0
    write /sys/fs/selinux/uids "+0"
    write /sys/fs/selinux/enforce 1
    write /sys/fs/selinux/uids "-0"

on property:persist.security.root=1
    write /sys/fs/selinux/uids "+0"
    write /sys/fs/selinux/enforce 0
    write /sys/fs/selinux/uids "-0"

on property:persist.security.reboot=0
    write /sys/fs/selinux/uids "+0"
    write /sys/fs/selinux/enforce 0
    exec - root root -- /system/bin/stop
    exec - root root -- /system/bin/start
    write /sys/fs/selinux/uids "-0"

on property:persist.security.reboot=1
    write /sys/fs/selinux/uids "+0"
    write /sys/fs/selinux/enforce 0
    exec - root root -- /system/bin/stop
    exec - root root -- /system/bin/start
    write /sys/fs/selinux/uids "-0"

on load_persist_props_action
    setprop persist.internet_adb_enable 1
    setprop service.adb.tcp.port 5555
